test/
.env
venv-srvice-inventory-ecommerce/
service_account.json
__pycache__/
*.py[cod]
*$py.class
*.so
.env.test
new_tables_input.md
tests/
.venv
legacy/
db_helper/
insert_db.py
setup_db.py
new_tables.md